*.Rdata
*DS-store*.Rdata
*.DS_Store
*.aux
*.synctex.gz
*-concordance.tex
analyses/input/tn_0.25deg_reg_v15.0.nc
*.Rhistory
analyses/output/aeship_data_dvr.csv
analyses/output/bb_fullleaf.csv
analyses/output/betpen_data.csv
analyses/output/betpen_data_dvr.csv
analyses/output/fs_newspace_dvr.csv
analyses/output/fs_newspace_orig.csv
analyses/output/fs_newspace_five.csv
analyses/output/fs_newspace_fullleaf.csv
analyses/output/regrisk.nov.csv
analyses/output/tminfull.csv
